@import "tailwindcss";
@import "../styles/fonts.css";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Exo 2", sans-serif;
}

/* Custom CSS */

@keyframes rotate {
  0% {
    transform: rotate(0def);
  }
  100% {
    transform: rotate(360deg);
  }
}
