.main-container {
    min-height: 100vh;
}

.react-to-cursor-text {
    color: var(--main);
    transition: color 0.5s ease;
}

.react-to-cursor-text:hover {
    color: var(--primary);
}

.react-to-cursor-element:hover {
    background-color: var(--primary);
}

.react-to-cursor-svg:hover > * {
    fill: var(--primary);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-height {
    min-height: 100vh;
}

.nav-link-item {
    text-decoration: none;
    color: var(--disabled-main);
}

.nav-link-item:hover {
    color: var(--primary);
}

.flex {
    display: flex;
    flex-direction: row;
}

.scifi-container {
    padding: 10px;
}

.scifi-container .content {
    color: var(--main);
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.information {
    /* backdrop-filter: blur(8px); */
    display: flex;
    flex-direction: column;
}

.faded {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0 100px 50px 3px var(--background);
    background: transparent;
    pointer-events: none;
}

@media screen and (max-width: 800px) {
    .flex {
        flex-direction: column;
    }
    .page-container {
        padding: 20px;
    }
}
